{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">Our mission</h1>
                    <h2>Serve till you can</h2>
                    <p class="lead fw-normal text-muted mb-4">To address the vast healthcare needs of the nation and the world at large. We also aim to become the leading Pharmaceutical Trading Firm and serve all the needs of hospitality services at the best price and delivery team</p>
                    <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Our founding</h2>
                <p class="lead fw-normal text-muted mb-0">Forza Pharmaceutical & M.V. Pharmaceutical, a professionally managed pharmaceutical trading firm centrally located at Patparganj Industrial Area, was established in 2016 by Late Shri P.P. Singh, M.Pharma, Retired as Deputy, Commissioner, Food and Drugs Control Department, U.P. Goverment.</p>
                <p class="lead fw-normal text-muted mb-0">Since then we have been serving the nation, day and night, effortlessly cetering to all kinds of pharmaceutical requirements.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">We Serve Effortlessly</h2>
                <p class="lead fw-normal text-muted mb-0">Due to the pandemic, COVID-19 (2020-2021), the healthcare facilities and medicines have become the need of hour, India, the second largest populated country of the world, has a growing Pharma sector and is changing lives by providing the necessary amenites since many decades.</p>
                <p class="lead fw-normal text-muted mb-0">We, at Forza Pharmaceutical & M.V. Pharmaceutical believe in giving back to the society hence our moto is to <em>Serve till you can</em></p>
            </div>
        </div>
    </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our team</h2>
            <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Dr. Sanghmitra</h5>
                    <div class="fst-italic text-muted">Co-Founder &amp; CEO</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Vidushi Kain</h5>
                    <div class="fst-italic text-muted">CFO & CIO</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Medhavi</h5>
                    <div class="fst-italic text-muted">CMO</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Vidushi Kain</h5>
                    <div class="fst-italic text-muted">CTO</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our Sponsors</h2>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li>Aculife</li>
                    <li>Zee laboratories</li>
                    <li>Radico</li>
                    <li>Amanta</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>Hopecure Lifecare</li>
                    <li>Romsons</li>
                    <li>Dispovan</li>
                    <li>Nipro</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>B Braun</li>
                    <li>Pretty Petals</li>
                    <li>Sunrise Pharma</li>
                    <li>Enema</li>
                </ul>
            </div>
        </div>
        </div>
        
</section>
</main>
{% endblock content %}